.navbar {
  flex-shrink: 0;
  text-align: left;
  display: none;

  &_top-level-items {
    display: flex;
    flex-direction: column;
    //width: 8.8rem;
    padding-top: 2rem;
  }

  &_create-menu {
    margin-left: 19px;
    margin-bottom: 20px;
  }

  &_addButton {
    padding: 1rem;
    border-radius: 6px;
    background-color: #30733f;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  &_addButton-icon {
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: #30733f;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: bottom;
  }

  & ul {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 2rem;

    & i {
      display: block;
      padding: 0.8rem;
      font-size: 1.8rem;
      color: #626262;
    }
  }

  &_divider {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    position: relative;
    left: 1rem;

    & hr {
      //display: block;
      width: 50%;
      margin: 25%;
    }
  }
}

.navbar.visible {
  display: flex;
  width: auto;
}
