* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.wrapper {
  font-family: Segoe UI, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  min-width: 100.4rem;
  background-color: rgb(105, 145, 143);
}

ul {
  display: block;
}

li {
  list-style: none;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 7.4rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
}
.header_left-section {
  display: flex;
  align-items: center;
}
.header_left-section .menuNavToogle {
  display: block;
  margin: 0 1.4rem 0 2.4rem;
  cursor: pointer;
}
.header_left-section .menuNavToogle i {
  display: block;
  padding: 0.8rem;
  font-size: 1.8rem;
  color: #464646;
}
.header_middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 1.4rem;
}
.header_middle-section .headerSearch {
  position: relative;
  display: flex;
  flex: 1;
  min-width: 17.5rem;
  max-width: 62.5rem;
  height: 4rem;
  margin: auto;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.header_middle-section .headerSearch i {
  top: 1rem;
  margin-left: 1.2rem;
  pointer-events: none;
  color: #767676;
  position: absolute;
  font-size: 1.6rem;
}
.header_middle-section .headerSearch .inputField {
  border: none;
  width: 100%;
  border-radius: 20px;
  outline: none;
  padding: 0 4.2rem 0.2rem 4.1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.header_right-section {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  font-size: 1.6rem;
  color: #626262;
}
.header_right-section .tour-help-menu {
  margin: 0 1.4rem;
}
.header_right-section .userContainer {
  display: inline-block;
  margin: 0 1.4rem 0 0.1rem;
}
.header_right-section .userContainer_avatar {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #626262;
  border-radius: 50px;
  cursor: pointer;
}

.container {
  display: flex;
  position: absolute;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  top: 7.4rem;
}

.navbar {
  flex-shrink: 0;
  text-align: left;
  display: none;
}
.navbar_top-level-items {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.navbar_create-menu {
  margin-left: 19px;
  margin-bottom: 20px;
}
.navbar_addButton {
  padding: 1rem;
  border-radius: 6px;
  background-color: #30733f;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.navbar_addButton-icon {
  font-size: 2rem;
  line-height: 2.5rem;
  background-color: #30733f;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  vertical-align: bottom;
}
.navbar ul {
  display: block;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}
.navbar ul i {
  display: block;
  padding: 0.8rem;
  font-size: 1.8rem;
  color: #626262;
}
.navbar_divider {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  position: relative;
  left: 1rem;
}
.navbar_divider hr {
  width: 50%;
  margin: 25%;
}

.navbar.visible {
  display: flex;
  width: auto;
}/*# sourceMappingURL=main.css.map */